/*imports fonts*/
@font-face {
    font-family: TitilliumWeb-Black ;
    src: url(../assets/fonts/TitilliumWeb-Black.ttf);

    font-family: TitilliumWeb-Bold ;
    src: url(../assets/fonts/TitilliumWeb-Bold.ttf);

    font-family: TitilliumWeb-Regular ;
    src: url(../assets/fonts/TitilliumWeb-Regular.ttf);

    font-family: Inter-Regular ;
    src: url(../assets/fonts/static/Inter-Regular.ttf);

    font-family: Quicksand-Regular ;
    src: url(../assets/fonts/static/Quicksand-Regular.ttf);

}

/*reset css*/

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Mobile First */

